.contact-main-div{
    background-image: url('./assets/contact6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    width: 100%;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar{
    position: absolute;
    width: 100%;
}
.contact-page-img-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    z-index: -1;
}
.contact-container{
    /* position: absolute; */
    width: 60%;
    margin: 5% 0 0 0;
}
.contact-form-div{
    margin: 0 0 0 0;
    background-color: rgb(39,42,52,0.8);
    color: rgb(147,149,154);
    border-radius: 15px 0 0 15px;
}
.contact-form-div form{
    padding: 10%;
}
.custom-input{
    width: 100%;
    background-color: rgb(39, 42, 52,0.8);
    color: white;
    border: none; /* Remove default borders */
    border-bottom: 1px solid rgb(147, 149, 154); /* Add a bottom border */
    outline: none; /* Remove the outline when focused (for better aesthetics) */
    padding: 10px; /* Adjust padding as needed */
    transition: border-color 0.3s ease; 
}
.custom-input:focus {
    background-color: rgb(39, 42, 52,0.8);
    box-shadow: none;
    border-bottom: 1px solid rgb(255, 255, 255); /* Change the bottom border when focused */
}
.custom-input::placeholder {
    color: rgb(147, 149, 154); /* Placeholder text color */
}
.address-div-container{
    background-color: rgb(28,30,37,0.95);
    border-radius: 0 15px 15px 0;
}
.address-div{
    padding: 10%;
    color: white;
    min-height: 100%;
    
}
.address-div p{
    color: rgb(123, 118, 114);
}
.address-items{
    display: flex;
}
.address-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-div{
    min-height: 45px;
    max-height: 45px;
    min-width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(32,34,41);
}
/* .footer-container{
    width: 100%;
    position: absolute;
    bottom: 0;
} */
@media (max-width: 768px) {
    .nav-bar{
        position: relative;
        width: 100%;
    }
    .contact-container{
        width: 100%;
        padding: 0;
        margin: 0 0 0 0;
       
    }
    .contact-form-div{
        border-radius: 0;
    }
    .address-div-container{
        border-radius: 0;
    }
}