.contact-main-div{
    background-image: url('./assets/contact6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
	background-color: rgb(56, 56, 56,0.8);
	background-blend-mode: overlay;
    height: 80dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-main-div h3{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 89.6px;
}
.nav-bar{
    position: absolute;
    width: 100%;
}
.contact-content-div{
    display: flex;
    justify-content: center;
    margin: 6% 0 6% 0;
}
.contact-top-div{
    width: 70%;
    gap: 8%;
}
.contact-form-div{
    
}
.form-header{
    margin-bottom: 50px;
}
.contact-content-div h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 47.6px;
    color: rgb(25, 25, 25);
}
.contact-form-div form{
    padding: 5%;
}
.custom-input{
    width: 100%;
    border: none; /* Remove default borders */
    border-bottom: 1px solid rgb(147, 149, 154); /* Add a bottom border */
    padding: 10px; /* Adjust padding as needed */
    transition: border-color 0.3s ease; 
}
.contact-submit-btn{
    border-radius: 25px;
}
.address-div-container{
    
}
.address-div{
    height: 100%;
    padding: 5%;
}
.address-div p{
    color: rgb(123, 118, 114);
}
.address-items h4{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28.8px;
    color: rgb(5, 5, 5);
}
.address-items p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    color: rgb(64, 64, 64);
}
.socials{
    padding-top: 2%;
    display: flex;
    gap: 2%;
}
.icon-round-div{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,172,170);
    transition: background-color 0.3s ease;
}
.icon-round-div:hover {
    background-color: rgb(48,48,48); /* Change the background color on hover */
}
.icon-round-div i{
   font-size: 24px;
   color: white;
}
@media (max-width: 768px) {
    .contact-main-div{
        height: 50dvh;
    }
    .nav-bar{
        position: relative;
        width: 100%;
    }
    .contact-container{
        width: 100%;
        padding: 0;
        margin: 0 0 0 0;
       
    }
    .contact-main-div h3{
        font-size: 28px;
    }
    .contact-content-div h3{
        font-size: 23px;
    }
    .contact-form-div{
        border-radius: 0;
    }
    .address-div-container{
        border-radius: 0;
    }
}