body, p, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Roboto', sans-serif;
  }
/* div where background img is set */
.home-main-div{
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    transition: background-image 0.3s ease;
}
/* div for all content over the bacground, transparant */
.home-overlay-div{
    background-color:rgba(64, 64, 64, 0.4);
}

/* first div with content */
.home-content-div-1{
    width: 100%;
    position: relative;
    min-height: 100dvh;
}
.front-page-text-div{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.front-page-text-div h1, h3{
    color:white;
    font-family: 'Montserrat', sans-serif;
}
.front-page-text-div h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 89px;
}
.front-page-text-div h3{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
/* line */
.colored-line {
    width: 10%;
    height: 2px;
    background-color:rgb(0,172,170);
    margin: 10px auto;
  }
  
/* second div with content */
.home-content-div-2{
    width: 100%;
    padding: 2% 0 2% 0;
    min-height: 70dvh;
    background-color: white;
}
.home-content-div-2 h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 47.6px;
    color: rgb(25, 25, 25);
}
.testimonial-single-div{
    position: relative;
    text-align: center;
    background-color: rgb(245,245,245);
    font-size: large;
    padding: 50px;
}
.quatation-mark{
    width: 150px;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.1;
}
.home-content-div-3{
    position: relative;
    background-color:rgba(64, 64, 64, 0.4);
    min-height: 80dvh;
    padding-top: 1%;
}
.home-content-div-3 div{
    width: 50%;
    position: absolute;
    right: 0;
    top: 30%;
}
.home-content-div-3 h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 47.6px;
    color: rgb(255, 255, 255);
}
.home-content-div-3 p{
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
    home-main-div{
        width: 100%;
        background-attachment:scroll;
        background-size: cover;
        background-position: center center;
        transition: background-image 0.3s ease;
    }
    .home-content-div-1 {
        width: 100%;
        min-height: 60dvh;
        text-align: center;
        padding: 20px; 
      }
    .front-page-text-div{
        top: 50%;
    }
    .front-page-text-div h1{
        font-weight: 700;
        font-size: 32px;
        line-height: 45px;
    }
    .front-page-text-div h3{
        font-weight: 700;
        font-size: 15px;
        line-height: 28px;
    }
      .home-content-div-2{
        width: 100%;
        min-height: 50dvh;
        background-color: white;
    }
    .quatation-mark{
        width: 100px;
        position:relative;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.2;
    }
    .home-content-div-3 div{
        width: 60%;
        position: absolute;
        right: 20%;
        top: 20%;
    }
    .home-content-div-3 h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        font-weight: 700;
        line-height: 40.6px;
        color: rgb(255, 255, 255);
    }
    .home-content-div-3 p{
        font-family: "Noto Sans", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 22.2px;
        color: rgb(255, 255, 255);
    }
}