.services-main-div {
	background-color: rgb(56, 56, 56, 0.5);
	background-blend-mode: overlay;
	height: 80dvh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.services-main-div h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	font-weight: 700;
	line-height: 89.6px;
	color: rgb(255, 255, 255);
}
.services-page-header {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.service-description-div {
	padding: 4% 15% 4% 15%;
	background-color: rgb(222, 217, 217);
}
.service-description-div h4 {
	padding-bottom: 1%;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 34px;
	font-weight: 700;
	line-height: 47.6px;
	color: rgb(25, 25, 25);
}
.service-description-div p {
	padding-top: 2%;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
	font-size: 22px;
	font-weight: 400;
	line-height: 27.2px;
	color: rgb(64, 64, 64);
}
.service-cards-div {
	padding: 2% 0 2% 0;
	background-color: white;
}
.wrap {
	margin: 50px auto 50px auto;
	width: 70%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
	justify-items: center;
	grid-gap: 2%;
	padding: 20px;
}
.tile {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	margin: 1.4%;
	display: inline-block;
	background-size: cover;
	position: relative;
	/* cursor: pointer; */
	transition: all 0.4s ease-out;
	box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
	overflow: hidden;
	color: white;
	font-family: 'Roboto';
}
.tile img {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	transition: all 0.4s ease-out;
	object-fit: cover; /* Add this line to maintain aspect ratio */
}
.tile .text {
	/*   z-index:99; */
	position: absolute;
	padding: 30px;
	height: calc(100% - 60px);
}
.tile h1 {
	font-weight: 300;
	font-size: 3dvw;
	margin: 0;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.tile h2 {
	font-weight: 100;
	font-size: 1.3dvw;
	margin: 20px 0 0 0;
	font-style: italic;
	transform: translateX(200px);
}
.tile p {
	font-weight: 300;
	margin: 20px 0 0 0;
	line-height: 25px;
	/*   opacity:0; */
	transform: translateX(-200px);
	transition-delay: 0.2s;
}
.animate-text {
	opacity: 0;
	transition: all 0.6s ease-in-out;
}
.animate-text a {
	color: rgb(249, 204, 55);
}
.tile:hover {
	background-color: rgb(25, 25, 25);
	box-shadow: 0px 0px 50px 10px rgb(0, 172, 170);
	transform: scale(1.05);
}
.tile:hover img {
	opacity: 0.2;
}
.tile:hover .animate-text {
	transform: translateX(0);
	opacity: 1;
}

@media (max-width: 1000px) {
	.services-main-div {
		height: 50dvh;
		background-position: right bottom;
	}
	.services-main-div h3 {
		font-size: 30px;
		color: rgb(255, 255, 255);
	}
	.tile:hover {
		background-color: rgb(25, 25, 25);
		box-shadow: none;
		transform: scale(1.05);
	}
}
@media (max-width: 1200px) {
	.wrap {
		grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
		grid-gap: 4%;
	}
	.tile {
		margin: 10%;
	}
	.tile h1 {
		font-size: 4dvw;
	}
	.tile h2 {
		font-size: 2dvw;
	}
	.tile-animation-smallscreen {
		background-color: rgb(25, 25, 25);
		box-shadow: none;
		transform: scale(1.05);
	}
	.img-animation-smallscreen img {
		opacity: 0.2;
	}
	.text-animation-smallscreen .animate-text {
		transform: translateX(0);
		opacity: 1;
	}
}

@media (max-width: 768px) {
	.wrap {
		display: block;
		width: 90%;
	}
	.tile {
		margin: 20px 0 20px 0;
	}
	.tile h1 {
		font-size: 9dvw;
	}
	.tile h2 {
		font-size: 4dvw;
	}
}
