.contact-top-div{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 2% 2% 2%;
}
.contact-div{
    width: 90%;
    background-color: rgb(0,172,170);
    border-radius: 25px;
}
.contact-form{
    margin: 0 5% 0 5%;
}
.contact-input-feild{
    background-color: rgb(0,172,170);
    border: none;
    border-top: solid thin rgb(0,172,170);
    border-right: solid thin rgb(0,172,170);
    border-left: solid thin black;
    border-bottom: solid thin black;
}
.contact-input-feild:focus{
    background-color: rgb(0,172,170);
    box-shadow: none;
    border-top: solid thin rgb(0,172,170);
    border-right: solid thin rgb(0,172,170);
    border-left: solid 2px black;
    border-bottom: solid 2px black;
    outline: none; 
}

.contact-submit-button{
    border: 2px solid rgb(249,204,55); 
    color: rgb(249,204,55);
}
.contact-submit-button:hover {
    background-color: rgb(249,204,55); 
    color: #fff;
}
.contact-img-div {
    overflow: hidden;
    padding: 0px;
    border-radius: 25px 0 0 25px;
}
.contact-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Fill the image inside the div while maintaining aspect ratio */
}

@media (max-width: 768px) {
    .contact-top-div{
        background-color: white;
        padding: 0;
    }
    .contact-img-div{
        display: none;
    }
    .contact-div{
        width: 100%;
        background-color: rgb(0,172,170);
        border-radius: 0px;
    }
}