.contact-top-div2 {
	display: flex;
	background-color: white;
	justify-content: center;
	align-items: center;
}

.contact-div2 {
	position: relative;
	width: 80%;
	min-height: 50dvh;
	overflow-y: hidden;
	margin: 5%;
	border-radius: 50px;
	&::before {
		position: absolute;
		content: '';
		z-index: 2;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}
}
.contact-us-img2 {
	position: absolute;
	z-index: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.contact-form2 {
	position: absolute;
	width: 70%;
	z-index: 3;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.message-area {
	resize: none;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	padding: 2%;
}
.contact-submit-button {
	padding-inline: 3%;
}

@media (max-width: 768px) {
	.contact-div2 {
		width: 90%;
		border-radius: 15px;
	}
	.contact-form2 {
		width: 90%;
	}
	.input-div {
		padding-right: 0%;
	}
	.contact-form2 input {
		width: 100%;
		padding-right: 0%;
	}
	.contact-submit-button {
		padding-inline: 7%;
	}
}
