.folder-thumb-div {
    margin: 5px;
    position: relative;
    aspect-ratio: 1/1;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.folder-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.7);
    z-index: 1;
}

.folder-thumb-h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .folder-thumb-div {
        min-width: 6rem;
        padding: 5px;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .folder-thumb-h4 {
        font-size: 0.8rem;
        padding: 1rem;
        margin-top: 5px;
        text-wrap: wrap;
    }
}
