/* .folder-selection-div {
    display: flex;
    overflow-x: scroll; 
    padding: 10px;
    gap: 10px; 
} */
.folder-thumb-div{
    padding: 1%;
    position: relative;
    aspect-ratio: 1/1;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}
.folder-thumb-div::before{
    content: '';
    position: absolute;
    z-index: 9;
    width:100%;
    height: 100%;
    background-color: rgb(25, 25, 25,0.3);
}
.folder-thumb-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.folder-thumb-h4{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: wrap;
    z-index: 10;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}