.footer-main-div{
    background-color: rgb(25,25,25);
    text-align: center;
    padding: 3% 0 3% 0;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.2px;
    color: rgb(255, 255, 255);
}
.copyright{
    padding: 2% 0 0 0;
    font-size:small;
}
@media (max-width: 768px) {
    .footer-main-div{
        background-color: rgb(25,25,25);
        text-align: center;
        padding: 5% 5% 5% 5%;
        font-family: "Noto Sans", sans-serif;
        font-size: 12px;
        font-weight: 200;
        line-height: 20.2px;
        color: rgb(255, 255, 255);
    }
}