.carousel-main-div {
    width: 60%;
    margin: 0 auto;
}
.arrow{
    color: rgb(6, 101, 99);
    font-size: x-large;
    position: absolute;
    top: 35%;
    z-index: 10;
    cursor: pointer;
    transition: 100ms;
}
.arrow:hover{
    font-size: xx-large;
    color: rgb(0,172,170);
}
.prev{
    left: 1%;
}
.next{
    right: 1%;
}
.slider-inner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-img-div {
    aspect-ratio: 16/9;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.slider-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 768px) {
    .carousel-main-div {
        width: 100%;
    }
    .arrow:hover{
        font-size: x-large;
        color: rgb(0,172,170);
    }
    .dots-navigator{
        visibility: hidden;
    }
    .dots-navigator li{
        display: inline;
    }
}