.folders-div {
	display: flex;
	flex-wrap: wrap;
	padding: 2%;
	gap: 1%;
}
.centered-hr-div {
	width: 100%;
	display: flex;
	justify-content: center;
}
.centered-hr {
	padding: 2% 0 2% 0;
	width: 75%;
	border: none;
	border-top: 1px solid #fffbfb;
}

/* Add new folder */
.add-new-folder {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	cursor: pointer;
	padding: 0 1% 0 1%;
	border-radius: 10px 10px 10px 10px;
	transition-duration: 0.2s;
	aspect-ratio: 1/1;
}
.add-new-folder button {
	border-radius: 10px 10px 10px 10px;
}
.add-new-folder:hover {
	background-color: grey;
	color: white;
}

@media screen and (max-width: 768px) {
	.add-new-folder {
		display: block;
		aspect-ratio: unset;
		width: 100%;
	}
	.add-new-folder button {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		cursor: pointer;
		padding: 0 1% 0 1%;
		border-radius: 10px 10px 10px 10px;
		transition-duration: 0.2s;
		aspect-ratio: 1/1;
	}
}
